.overview-text {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  transform: translateX(100px);
}

.overview-right p {
  max-width: 600px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}


.image-overlay-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden; 
}


.overview-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block; 
}


.overlay-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 150px; 
  height: auto;
  z-index: 10; 
}


@media (max-width: 768px) {
  .overview-text {
    grid-template-columns: 1fr; 
    transform: none; 
    
  }


  .overview-left {
    order: -1; 
    display: flex; 
    justify-content: center;
  }
  
  .image-overlay-container {
    width: 90%;
    height: auto; 
  }

  .overview-right p {
    max-width: 100%;
    text-align: left;
  }
}
