.home-container {
  position: relative;
  overflow: hidden;
}

.magnet-lines-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5; /* Optional: to make the background less intrusive */
}

.content {
  position: relative;
  z-index: 1;
}
