:root {
  --hero-title-color: rgb(54, 54, 54);
  --hero-title-after-bg: white;
  --hero-subtitle-color: #475569;
  --hero-overlay-color: rgb(255, 255, 255);
  --hero-overlay-backdrop-filter: blur(10px) saturate(180%);
  --hero-img-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
}

html.dark {
  --hero-title-color: #ffffff;
  --hero-title-after-bg: #333333;
  --hero-subtitle-color: #a0aec0;
  --hero-overlay-color: rgb(0, 0, 0);
  --hero-overlay-backdrop-filter: blur(10px) saturate(180%);
  --hero-img-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
  --hero-shop: #f8f8f8;
}





.orders-container{
    background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dark .orders-container{
  background-color: #000000;
}

.dark .historytitle{
  color: rgb(255, 255, 255);

}
